@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Stack Sans Text", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco-principal {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 420px;
    width: 400px;
    margin: 210px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 5px 5px 5px rgb(53, 53, 53, 0.3);
}

h2 {
    margin: 10px;
    margin-top: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 440px;
}

.form input {
    padding: 10px;
    margin-left: 70px;
    border-radius: 3px;
    border-color: rgb(224, 224, 224);
    max-width: 70%;
}

.form label {
    margin: 10px auto 7px 70px;
}

.faca-login {
    margin-bottom: 15px;
}

.senha-lembrar {
    display: flex;
    align-items: center;
    font-size: 13px;
    width: 400px;
    height: 40px;
    flex-direction: row;
}

.lembrar-bloco {
    color: rgb(121, 121, 121);
    display: flex;
    flex-direction: row;
    width: 220px;
}

.lembrar-bloco label {
    padding-left: 6px;
}

.lembrar-bloco input {
    margin-left: 50px;
}

.senha {
    color: #764ba2;
}

button {
    margin: 10px;
    padding: 12px 140px;
    border-radius: 7px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.cadastro-bloco {
    flex-direction: row;
}

.cadastrar {
    font-size: 13px;
    margin: 10px auto;
}

.cadastrar a {
    color: #764ba2;
}